#paragraphs{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-right: 50%;
    color:white;
}

h1{
    color: white;
}

body{
   
    background-image: linear-gradient(blue, black);

}

@media only screen and (max-width: 600px){
    body{
        background-image: linear-gradient(blue, green);
    }
}
.BigHeading{
    text-align: center;
    color:yellow;
    font-size: 80x;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.myblock {
   
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: lightblue;
}